.movingTXT{
    min-width: fit-content;
    box-sizing: content-box;
    height: fit-content;
    margin-top: 50px;
    padding-bottom: 50px;
    position: relative;
    
}

.movingTXT-paragraph{
    font-size: 150px;
    display: inline-block;
    white-space: nowrap;
    
    width: 100%;
    color: transparent;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 0.05rem;
    animation-name: ticker;
    -webkit-animation-iteration-count:infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;

}


@keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    50% {
      -webkit-transform: translate3d(-30%, 0, 0);
      transform: translate3d(-30%, 0, 0);
    }
    00% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

  }
  
@media (max-width:769px) {
    .movingTXT-paragraph{
        font-size: 70px;
    }
    .movingTXT{
        padding-bottom: 20px;
        margin-top: 20px;
    }
}