@font-face {
   
    font-family: "firagoRegular" ;
    src: url('../fonts/FiraGO-Regular.woff');

}

.Contact{
    width: 100%;
    height: fit-content;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.Contact_headrer{
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.Contact_headrer::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background-color: green;
    bottom: -10px;
}

.contact_inner{
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.contact_inner_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.logoTXT_contact{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact_logos{
    width: 40px;
}

.contact_inner_right{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}

.simpleInput{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #E9E8E8;
}

.textarea{
    height: 120px;
    border-radius: 5px;
    width: 100%; 
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    background-color: #E9E8E8;
    box-sizing: border-box;
    font-family: "firagoRegular" ;
}

.submitBTN{
    font-family: "firagoRegular" !important;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    color: white !important;
    font-size: 16px;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.contact_inner_header{
    position: relative;
    font-size: 50px;
    color: inherit;
    background: -webkit-linear-gradient(90deg, rgba(23,91,0,1) 0%, rgba(98,121,9,1) 48%, rgba(41,153,3,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow_div{
    display:flex ;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 45%;
}

