.whyTwins{
    width: 100%;
    height: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.whyTwins_inner{
    width: 100%;
    display: flex;
}

.whyTwins_inner_left{
    width: 50%;
}

.whyTwins_inner_right{
    width: 50%;
}