.whyTwins{
    width: 100%;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D2D4D6;
    gap: 50px;
}

.whyTwins_header{
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.whyTwins_header::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background-color: green;
    bottom: -10px;
}

.whyTwins_inner{
    width: 100%;
    display: flex;
}

.whyTwins_inner_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row_for_whyTwins{
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    display: flex;
    gap: 40px;
    padding-left: 100px;
}

.icon_n_txt{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.whyTwins_ico{
    width: 70px;
}

.whyTwins_ico p{
    font-weight: 900;
}

.whyTwins_inner_right{
    width: 50%;
    height: 100%;
}

.whyTwins_inner_BG{
    position: relative;
    width: 95%;
    height: 95%;
    object-fit: scale-down;
}

@media (max-width:769px) {
    .whyTwins{
        height: fit-content;
    }
    .whyTwins_inner{
        flex-direction: column;
    }
    .whyTwins_inner_left{
        width: 100%;
        height: fit-content;
    }
    .row_for_whyTwins{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .icon_n_txt{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:400px) {
    .icon_n_txt{
        width: 70%;
    }
    .whyTwins_header{
        font-size: 24px;
    }
}