.bottomSlider{
    display: flex;
    padding-top: 50px;
    width: 100%;
}

.bottomSlider_inner{
    display: flex;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.imgclass{
    width: 10%;
    height: 100%;
    object-fit: cover;

    
}

@media (max-width:769px) {
    .imgclass{
        width: 30%;
    }
}