@font-face {
    font-family: "firagoRegular" ;
    src: url('../fonts/FiraGO-Regular.woff');
}

.About_us{
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.About_us_header{
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.About_us_header::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background-color: green;
    bottom: -10px;
}

.About_us_inner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.About_us_inner_for_Not_Desktop{
    width: 100%;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

.About_us_inner_left{
    box-sizing: border-box;
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: "firagoRegular";
    padding-left: 20px;
}

.fontfix{
    width: 40% !important;
    font-family: "firagoRegular" !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    font-weight: 800 !important;
}

.textfix{
    height: fit-content !important;
    margin-left: 15px !important;
}

.About_us_inner_right{
    width: 30%;
    height: 400px;
    position: relative;
    box-sizing: border-box;
}

.hidden_for_desktop{
    display: none;
}


/*****************************************************************/
.img-right1{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-right2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-right3{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-right4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_opacity_0{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.6s ease;
}

.img_opacity_1{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.6s ease;
}

/********************************************/

@media (max-width:769px) {
    .About_us_inner_left{
        width: 90%;
        padding: 0;
    }
    .responsive_hidden{
        display: none;
    }
    .About_us_inner_for_Not_Desktop{
        display: flex;
    }
    
}
