@font-face {
    font-family: "firagoRegular" ;
    src: url('../fonts/FiraGO-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
}

.carousel{
    width: 100%;
    height: 100%;
    -webkit-font-feature-settings: "case";
    font-feature-settings: "case";
    position: relative;
    z-index: 0;
  }
  
  .carousel-inner{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .mapping-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
  }
  
  .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease;
    opacity: 0;
  }

  /* .txt-animation-div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(12, 12, 12);
    font-size: 60px;
    font-weight: 900;
  } */

  .content{
    position: absolute;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top:0;
    width: 100%;
    height: 100%;
  }

 
  .sliderTxt{
    opacity: 0;
    transition: all 0.6s ease;
  }

  .active{
    opacity: 1;
  }

  .slider-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family:"firagoRegular" ;
    font-weight: 800;
    font-size: 50px;
  }
  
  
  @media (max-width:769px) {
    .slider-txt{
        width: 100%;
        height: 15%;
        line-height: 0;
        font-size: 30px;
      }
  }


