

.Nav{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 2;
    font-family: "firagoRegular";
    font-feature-settings: "case";
    -webkit-font-feature-settings: "case";
}

.navbar-upper{
    background-color: #103D34;
    width: 100%;
    height: 40%;
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
}

.navbar-upper span{
    color: #C2A561;
}

.navbar-bottom{
    background-color: #103d3465;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.logo_div{
    width: 8%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_div img{
    width: 100%;
    height: 100%;
}

.navbar_menu{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 600;
}

.language{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

a{
    text-decoration: none;
    color: unset;
}

.burger_menu{
    width: 100%;
    height: 100%;
    display: none;
}

.burger_menu_compay_logo{
    width: 50%;
    display: flex;
    align-items: center;
    height: auto;
    padding-left: 20px;
}

.burger_menu_compay_logo img{
    width: 100px;
}

.burger-menu_logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.burger_logo{
    cursor: pointer;
    font-size: 20px;
}
@media (max-width:1000px) {
    .Nav{
        background-color: #103D34;
        height: 60px;
    }
    .navbar-upper,
    .navbar-bottom{
        display: none;
    }

    .burger_menu{
        display: flex;
    }
    
}