.Nav{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 2;
}

.navbar-upper{
    background-color: #103D34;
    width: 100%;
    height: 40%;
}

.navbar-bottom{
    background-color: #103d3465;
    height: 60%;
    width: 100%;
}