.selling_homes{
    width: 100%;
    height: fit-content;
    padding: 50px 0px;
    
    background-color: #103D34;
}

.selling_homes_inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

/****** ანიმაცია CARD FLIP *****/

.card{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
    backface-visibility: hidden;
}




.theFront{
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease;
}

.card:hover .theFront{
    transform: perspective(3000px) rotateY(180deg) ;
}

.theBack{
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #C5C1B8;
    transform: perspective(3000px) rotateY(180deg);
    transition: all 0.6s ease;
}

.card:hover .theBack{
    transform: perspective(1000px) rotateY(360deg) ;
}

/****** ანიმაციის დასასრული CARD FLIP *****/

.card_img{
    position: relative;
    width: 100%;
    height: 60%;
    background-color: #c5c1b8;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    object-position:center;
}

.card_bottom{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card_bottom_inner{
    width: 90%;
    padding-left: 5%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card-icons{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.card-icons img{
    width: 25px;
    display: flex;
}

.line{
    width: 90%;
    height: 2px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.123);
}


.bottom_logo_name{
    margin-top: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 0px;
}

.bottom_logo_name img{
    width: 70px;
}

.card_icon_block{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card_icon_block p span{
   font-size: 12px;
}

@media (max-width:769px) {
    .selling_homes_inner{
        flex-direction: column;
    }
    .for3DAnime{
        width: 80% !important;
    }

    .responsive_hidden{
        display: none;
    }
}