@font-face {
    font-family: "firagoRegular" ;
    src: url('./fonts/FiraGO-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
}

.carousel{
    width: 100%;
    height: 100%;
    font-feature-settings: "case";
    position: relative;
  }
  
  .carousel-inner{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: all 0.5s ease;
  }
  
  .current{
    opacity: 1;
    transition: all 0.5s ease;
  }
  
  .slide img{
    width: 100%;
    height: 99%;
    object-fit: cover;
    object-position: center;
  }
  
  
  
  .content{
    position: absolute;
    color: #C2A561;
    align-items: center;
    display: flex;
    opacity: 1;
    top:0;
    width: 100%;
    height: 100%;
  }
  
  .slider-txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    flex-wrap: wrap;
    font-family:"firagoRegular" ;
    font-weight: 800;
    font-size: 50px;
  }
  
  
  .current{
    opacity: 1;
  }
  
  @media (max-width:769px) {
    .slider-txt{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        flex-wrap: wrap;
        font-family:"firagoRegular" ;
        font-weight: 800;
        font-size: 30px;
      }
  }
