@font-face {
    font-family: "firagoRegular" ;
    src: url('./fonts/FiraGO-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
}

.carousel{
    width: 100%;
    height: 100%;
    -webkit-font-feature-settings: "case";
    font-feature-settings: "case";
    position: relative;
    z-index: 0;
  }
  
  .carousel-inner{
    width: 100%;
    height: 100%;
    position: relative;
  }

  
  .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
  }
  
  .current{
    opacity: 1;
  }

  
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  
  
  .content{
    position: absolute;
    color: green;
    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top:0;
    width: 100%;
    height: 100%;
  }
  
  .slider-txt{
    position: absolute;
    z-index: 4;
    top: 200px;
    flex-wrap: wrap;
    font-family:"firagoRegular" ;
    font-weight: 800;
    font-size: 50px;
  }
  
  
  .current{
    overflow-y: hidden;
    opacity: 1;
  }
  
  @media (max-width:769px) {
    .slider-txt{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        flex-wrap: wrap;
        font-family:"firagoRegular" ;
        font-weight: 800;
        font-size: 30px;
      }
  }


