#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  display: flex !important;
}

.mySwiper{
    display: flex;
}


.swiper-slide {
    width: 329px;
        height: 342px;
  text-align: center;
  font-size: 18px;
  background: #fff;
    width: 300px !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 50%;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
    background-color: #000;
}


.btns{
    width: 50px;
    height: 50px;
    background-color: #000;
}

.as{
    margin-left: 50px;
}

.aa{
  background-color: rebeccapurple;
  margin-left: 150px;
}

.card{
    position: relative;
    width: 409.85px;
    height: 484.45px;
    background: #E6ECDF;
    border-radius: 70px;

    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
}

.card:hover{
    margin-top: -20px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
}

.card_inner_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_inner_bottom{
    position: absolute;
    bottom: 0;
    padding-bottom: 72px;
    background-color: #E6ECDF;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
}